# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

build-incmi-Desktop_Qt_5_9_1_clang_64bit-Debug/

build-incmi-Debug/

build server Debug/

incmi/\.DS_Store

build-incmi-Desktop_Qt_5_10_1_clang_64bit2-Debug/

build-incmi-Qt_5_10_1_for_iOS2-Release/

build-incmi-Qt_5_10_1_for_iOS2_Simulator-Debug/

build-incmi-Qt_5_10_1_for_iOS2_Simulator-Release/

build-incmi-Qt_5_9_1_for_iOS-Release/

\.DS_Store
